// // This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
// //************************NAVBAR TWEEKS************************

// @import "compass/css3";

// #wrapper-navbar {
//   display: none;
// }

// #wpadminbar {
//   display: none;
// }

html, body {
  height: 100%;
  min-height: 100%;
  line-height: 1.8em;
  // font-family: EB Garamond;
  font-family: Scope One;
  font-size: 1.1em;
}

article a {
  text-decoration: underline;
}

.allofit {
  padding-top: -60px;
}

.logo-abbr {
  font-family: Kameron;
  font-weight: 700;
  font-size: 3vw;
  padding: 12px 0 0 30px;
  color: white;
  text-align: center;
}

.logo-line {
  // background-repeat: no-repeat;
  text-align: center;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  background: black;
  z-index: -1;
  width: 15%;
  
  // &.fixed {
  //   position: fixed;
  //   display: none;
  // }
}

.fotj-container {
  position: relative;
  text-align: center;
  color: white;
  top: 0;
  overflow: hidden;
  background-color: black;
}

.scroll-to-content-arrow {
  // content: '';
  // background-image: url("../imgs/arrow-down-white.svg");
  // background-repeat: no-repeat;
  // background-size: cover;
  bottom: 30px;
  height: 27px;
  left: 27px;
  position: absolute;
  width: 21px;
}

.cover-image {
  object-fit: cover;
  width: 100%;
  height: calc(100vh - 64px);
  -webkit-animation: scaling 10s linear 0s infinite;
  animation: scaling 10s linear 0s infinite;
}

.fotj-container::after {
   content: '';
   position: absolute;
   top: 0; left: 0; bottom: 0; right: 0;
  //  background: radial-gradient(circle, transparent 20%, black 150%);
   background: radial-gradient(transparent 60%, #e30000 150%);
   mix-blend-mode: difference;
}

@-webkit-keyframes scaling {
  0% {
      opacity: 0.1;
      -webkit-transform: scale(1);
      transform: scale(1)
  }

  10%,90% {
      opacity: 1
  }

  100% {
      opacity: 0.1;
      -webkit-transform: scale(1.1);
      transform: scale(1.1)
  }
}

@keyframes scaling {
  0% {
      opacity: 0.1;
      -webkit-transform: scale(1);
      transform: scale(1)
  }

  10%,90% {
      opacity: 1
  }

  100% {
      opacity: 0.1;
      -webkit-transform: scale(1.1);
      transform: scale(1.1)
  }
}

.foot-title {
  font-family: Kameron;
  font-weight: 700;
  font-size: 2em;
  padding: 20px 0 20px 0;
  color: white;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../imgs/title_footpath2.svg");
  background-repeat: repeat-x;
  width: 100%;
  text-shadow: 0px 0px 4px #000000;
}

.sub-title {
  font-family: Nunito Sans;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.3em;
  padding: 30px 0 20px 0;
  color: white;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../imgs/threelinewave.svg");
  background-repeat: no-repeat;
  background-position: top;
  text-shadow: 0px 0px 14px #000000;
  text-align: center;
}

.fotj-content {
  padding: 40px 15%;
  margin: 50px auto;
  color: black;
  text-align: left;
  
  h2 {
    font-family: Rockwell;
    font-weight: 700;
  }

  .lead-title {
    padding-top: 50px;
  }

  p {
    margin-bottom: 1em;
    margin-top: 1em;
    
    .drop-cap {
      font-family: Rockwell;
      font-weight: 700;
      color:#212529;
      float: left;
      display: inline-block;
      padding-top: 3.2rem;
      margin-right: .625rem;
      text-transform: uppercase;
      vertical-align: text-top;
      font-size: 6.2rem;
      height: .8em;
      line-height: 1.6rem;
      background-image: url("../imgs/tiny_threelinewave.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.photo-set {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: -45px;
  margin-top: -50px;
}

.photo-set {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: -45px;
  margin-top: -50px;
}

.photo-set .photo-2 {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 360px;
  margin: 5px;
}

.photo-set .photo-3 {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 260px;
  margin: 5px;
}

// .photo-group .photo:hover {
//   opacity: 0.5;
// }

.photo-caption {
  padding: 10px 1rem;
}

.photo-caption h5 {
  position: relative;
  font-size: 16px;
  font-family: "EB Garamond", serif;
  font-weight: normal;
  font-style: italic;
  text-align: center;
}

.wide-image {
  margin: -50px 0 0 0;
}

.vert-path {
  background-image: url("../imgs/vert_path.svg");
  background-repeat: repeat-y;
  margin: -55px 40px;
}

.navbar-toggler:not(:disabled):not(.disabled) {
  display: block;
}

.navbar {
  position: fixed;
  top: 64px;
  z-index: 3000;
  left: -25px;
}

.navbar-toggler {
  border: 0;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("../imgs/hamburger_menu.svg");
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 20px;
  background-color: black;
}

#navbarNavDropdown.collapse:not(.show) {
  display: none !important;
}

.navbar-expand-md>.container, .navbar-expand-md>.container-fluid {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.navbar-collapse {
  flex-basis: 100% !important;
}

.navbar-nav {
  flex-direction: column !important;
}

.bg-primary {
  background-color: transparent !important;
}

.wave-break {
  content: '';
  background-image: url("../imgs/gray_threelinewave.svg");
  background-repeat: repeat-x;
  background-position: center;
  height: 50px;
  margin: 20px 0 70px 0;
}

.sticky .navbar {
  top: 0;
  transition: all .5s;
    -wenkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
}


//@MEDIA STUFF
@media (max-width: 768px) {
  body, html {
    font-size: 1em;
    line-height: 1.6em;
  }
  .logo-abbr {
    font-size: 1.1em;
    padding: 12px 0 0 40px;
    width: 1px;
    word-wrap: break-word;
    line-height: 1em;
  }
  .navbar-toggler-icon {
    margin-bottom: 48px;
  }
  .sub-title {
    top: 90%;
    width: 80%;
  }
  .scroll-to-content-arrow {
    display: none;
  }
  .vert-path {
    margin: -55px 5px;
  }
  .fotj-content {
    padding: 40px 2% 40px 15%;
    margin: 5px;
  }
  .fotj-content .lead-title {
    padding-top: 25px; 
  }
  .photo-group {
    display: block;
    padding: 40px 2% 5px 15%;
  }
}

// //aligns menu items to the right
// .assistive-text {
//   height: 1px; 
//   width: 1px; 
//   position: absolute; 
//   overflow: hidden; 
//   top: -10px;
// }


// #navbarNavDropdown {
//   justify-content: flex-end;
// }

// //gets rid of round edges on child menu elements
// .dropdown-menu {
// 	border-radius: 0;
// }

// //force underline on sub-menu hover
// .dropdown-item:focus, .dropdown-item:hover {
// 	text-decoration: underline;
// }

// //prevent default fade to non-accessible on pages that are not the active page
// .navbar-dark .navbar-nav .nav-link {
//   color: $dark-gray;
// }

// #the-menu {
// 	background-color: #efefef !important;
// }

// li.active {
// 	text-decoration: underline;
// 	color: $dark-gray;
// }


// //************************BASIC CONTENT CHOICES************************


// body, p, h1, h2, h3, h4, h5 {
// 	font-family: 'Roboto', sans-serif;
// }

// #secondary img, article img, figure, img, img.wp-post-image {
// 	margin-bottom: 1em;
// }

// p {
// 	background-color: $white;
// 	padding: 1em .4em;
// }

// .table {
// 	background-color: $white;
// }

// .jumbotron {
// 	border-radius: 0;
// }

// .custom-header-img {
// 	height: 40vw;
// 	background-position: center;
// 	background-repeat: no-repeat;
// 	background-size: cover;
// }

// //BACKGROUND
// #full-width-page-wrapper {
// 	background-image: url(../imgs/topo-right-30.png);
// 	background-repeat: no-repeat;
// 	background-position: right;
// 	background-size: 400px 800px;
// 	background-attachment: fixed;
// }


// //SUB ORGS
// .jumbotron.water {
//   background: url(../imgs/topographic-background-2-white.svg), linear-gradient(rgba(0, 179, 190, 0), rgba(158, 158, 158, 1));
//   background-repeat: no-repeat; 
//   background-size: cover; 
//   background-color: rgba(0,0,0,0);
// }

// .water .card-img-top {
// 	border-radius: 50%;
// 	border: 2px solid $white;
// 	width: 80%;
// 	height: auto;
// 	margin: 0 auto;
// }

// .water .card-title {
// 	background-color: $white;
// 	padding: .2em;
// 	display: inline-block;
// 	text-align: center;
// 	font-size: 1.5em;
// 	height: 3em;
// 	width: 100%;
// 	margin: 0 auto;
// }

// .water .card {
// 	height: 100%;
// 	background-color: rgba(0,0,0,0);
// 	border: none;
// }

// //FOOTER 
// #wrapper-footer {
// 	padding-top: 5em;
// 	background-color: $dark-gray;	
// }

// .footer-widget{
// 	background-color: $dark-gray;
// 	padding-top: 3em;
// 	color: $white;
// 	line-height: 1em;
// }

// .widgetizedArea p {
// 	background-color: $dark-gray;
// 	color: $white;
// 	padding: .2em 0;
// 	margin: 0;
// }

// .widgetizedArea h3 {
// 	color: $gold;
// 	font-size: 1.2em;
// }

// //JUST BLOCKQUOTE
// //from https://codepen.io/iPawan/pen/emrPKP
// blockquote{
//   display:block;
//   background: #fff;
//   padding: 15px 20px 15px 45px;
//   margin: 0 0 20px;
//   position: relative;
  
//   /*Font*/
//   font-size: 1.2em;
//   line-height: 1.2;
//   color: #666;


//   /*Borders - (Optional)*/
//   border-left-style: solid;
//   border-left-width: 15px;
//   border-right-style: solid;
//   border-right-width: 2px;    
// }

// blockquote::before{
//   content: "\201C"; /*Unicode for Left Double Quote*/
  
//   /*Font*/
//   font-family: Georgia, serif;
//   font-size: 60px;
//   font-weight: bold;
//   color: #999;
  
//   /*Positioning*/
//   position: absolute;
//   left: 10px;
//   top:5px; 
// }

// blockquote::after{
//   /*Reset to make sure*/
//   content: "";
// }

// blockquote a{
//   text-decoration: none;
//   background: #eee;
//   cursor: pointer;
//   padding: 0 3px;
//   color: #c76c0c;
// }

// blockquote a:hover{
//  color: #666;
// }

// blockquote em{
//   font-style: italic;
// }

//   /*Default Color Palette*/
// blockquote.default{ 
//   border-left-color: #656d77;
//   border-right-color: #434a53;  
// }


// //BOOTSTRAP BREAKOUT

// .break-out{
//   width: 100vw;
//   position: relative;
//   left: calc(-1 * (100vw - 100%) / 2);
//   color: rgba(0,0,0,.6);
//   display: block;
// }

// .flexy {
//   display: flex;
//   justify-content: space-between;
// }
